loan_default/SampleSubmission.csv
loan_default/testdemographics.csv
loan_default/traindemographics.csv
loan_default/testperf.csv
loan_default/trainperf.csv
loan_default/testprevloans.csv
loan_default/trainprevloans.csv